@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap");

.choice_shop {
  margin: 50px;
}

.shop {
  position: relative;
  width: 1400px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.products-grid {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -20px;
}

.gradient {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 65px;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, white);
}
.gradient:hover {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 65px;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, white);
}

.products-grid .productWrapper {
  width: 262px;
  margin: 11px;
  background: #ffffff;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.products-grid .productWrapper:hover {
  z-index: 5;
  width: 262px;
  margin: 11px;
  background: #ffffff;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

img {
  width: 100%;
  border-radius: 20px;
}
.info {
  position: relative;
}
.info2 {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin-left: 20px;
  font-family: "Almarai", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #3bbeb6;
}
.title {
  margin-left: 20px;
  font-family: "Almarai", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  color: #313131;
}
.sold {
  margin-left: 20px;
  font-family: "Almarai", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;
  color: #a8acb8;
}

.plus {
  margin-right: 20px;
  height: 42px;
  width: 42px;
  background: #000000;
  border-radius: 44px;
  font-size: 12px;
  color: aliceblue;
  cursor: pointer;
}
.minus {
  border: 0px;
  margin-right: 20px;
  height: 42px;
  width: 42px;
  background: rgba(168, 172, 184, 0.1);
  border-radius: 44px;
  font-size: 12px;
  color: #000000;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter {
  margin-right: 20px;
  font-family: "Almarai", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #313131;
}

.card {
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 4px;
  position: absolute;
  width: 78px;
  height: 24px;
  left: 12px;
  top: 12px;
  background: rgba(59, 190, 182, 0.9);
  border-radius: 12px;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadmore {
  position: relative;
  cursor: pointer;
  border: 0px;
  z-index: 10;
  margin-top: 30px;
  width: 282px;
  height: 54px;
  background: rgba(168, 172, 184, 0.1);
  border-radius: 50px;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #313131;
  transition: transform 100ms ease-out;
}
.loadmore:active {
  transition: transform 100ms ease-in;
  transform: scale(1.01);
}

.arrow-wrapper {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: white;
  border-radius: 19px;
  width: 38px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.form_radio {
  margin-bottom: 10px;
}

.form_radio label {
  cursor: pointer;
  padding: 15px;
}

/* Hover */
.form_radio label:hover:before {
  filter: brightness(120%);
}
